/*

Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.

*/

* {
	box-sizing: content-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../images/hixs_pattern_evolution_@2X.png);
  background-color:#131313;
}

header {
	overflow:hidden;
	width:100%;
	margin: 0 auto;
	background:#fff;
	border-bottom: 3px;
	border-color:#ccc;
	border-style: solid;
}

footer {
	border-top: 10px;
	border-style: solid;
	border-color: #4aaaa5;
	background-color: #666;
	-webkit-animation: bordercolor 30s infinite;
    animation: bordercolor 30s infinite;

}

h1, h2 {
	margin: 0;
	color: #4aaaa5;
	font-weight: bold;
  	font-family: 'Georgia', Times, Times New Roman, serif;
	-webkit-animation: textcolor 30s infinite;
    animation: textcolor 30s infinite;
  
}

h1 {
  padding: 5px 0 35px 0;
  font-size: 28px;
  width:100%;
  border-bottom:3px;
  border-color:#ddd;
  border-style:solid;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  border-bottom:2px;
  border-color:#ddd;
  border-style:solid;
  margin-bottom: 20px;
  padding: 0 0 20px 0;
}

p, section {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;
}

/*a {
  color: #377F7C;
}
*/
.container {
  width: 960px;
  margin: 0 auto;
  clear:both;
}

#main-bio,
#sidebar {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top:40px;
  margin-bottom:40px;
  padding: 30px 25px;
}

#main-bio {
  float: left;
  width: 590px;
}

#sidebar {
  width: 210px;
  float: right;
}

#bio-image {
  float: left;
  width: 200px;
  margin-right: 20px;
}

.port-image {
	width:100%;
}

.connect-image {
	width: 65px;
	text-decoration:none;
}

.ileft {
	float:left;
	width:47%;
	position: relative;
	margin-bottom:40px;
	
}

.iright {
	float:right;
	width:47%;
	position: relative;
	margin-bottom:40px;
}

.ileft:last-of-type {
	margin-bottom:0px;
}

.imagetext {
	position: absolute;
	width:100%;
	color:white;
	background-color:#4aaaa5;
	font-size:24px;
  	font-family: 'Georgia', Times, Times New Roman, serif;
  	text-align:center;
	box-sizing: border-box;
	bottom: 20px;
	padding:20px;
	-webkit-animation: backcolor 30s infinite;
    animation: backcolor 30s infinite;
}

.button {
	border-right: 1px;
	float: right;
	border-color:#aaa;
	border-style: solid;
	padding: 0px 20px;
	margin: 33px 0 0 0;
}

.button2 {
	border-right: 0px;
	padding-right: 0px;
}

.header {
	color: #fff;
	float:left;
	background-color:#4aaaa5;
	padding: 33px 36px;
  	margin-bottom: 0px;
  	width: auto;
  	border-bottom: 0px;
	-webkit-animation: backcolor 30s infinite;
    animation: backcolor 30s infinite;
}

.button a:link, .button a:visited, .button a:active, .button a:hover { 
	color: #777;
	text-decoration: none;
}


.clearfix::after {
Content: "";
display: block;
clear: both;
}

footer p {
	text-align: center;
	color: #b5b5b5;
	padding: 40px;
	font-size:12px;
}

input {
	padding: 10px;
	width: 100%;
	margin-right:20px;
	margin-bottom:20px;
	box-sizing: border-box;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input::placeholder {
	color: #B4B4B4;
}

textarea {
	padding: 10px;
	width: 100%;
	margin-right:20px;
	margin-bottom:20px;
	box-sizing: border-box;
	height: 155px;
	vertical-align: text-top;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.submit {
	
	color: #fff;
	float:left;
	padding: 8px 30px;
	width:auto;
	border:0px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;
	-webkit-animation: backcolor 30s infinite;
    animation: backcolor 30s infinite;
}

/*Screens 980 px or less*/
@media screen and (max-width: 980px) {

	.container {
  		width: 730px;
	}

	#main-bio {
	  float: left;
	  width: 370px;
	}

	#sidebar {
	  width: 215px;
	  float: right;
	}
	
	#bio-image {
	  float: none;
	  width: 100%;
	  margin-right: 0px;
	}

	.ileft {
		float:none;
		width:100%;
		margin-bottom:55px;
	}

	.iright {
		float:none;
		width:100%;
		margin-bottom:55px;
	}
	
}

/*Screens 768 px or less*/
@media screen and (max-width: 768px) {



	.container {
  		width: 95%;
	}

	
	#main-bio {
  		/* Firefox */
		width: -moz-calc(100% - 50px);
		/* WebKit */
		width: -webkit-calc(100% - 50px);
		/* Opera */
		width: -o-calc(100% - 50px);
		/* Standard */
		width: calc(100% - 50px);
		margin: 40px auto;
	  	float: none;
	  	overflow: auto;
	}

	#sidebar {
  		/* Firefox */
		width: -moz-calc(100% - 50px);
		/* WebKit */
		width: -webkit-calc(100% - 50px);
		/* Opera */
		width: -o-calc(100% - 50px);
		/* Standard */
		width: calc(100% - 50px);
		margin: 40px auto;
	  float: none;
	}


	#bio-image {
	  float: left;
	  width: 200px;
	  margin-right: 20px;
	}

	.ileft {
		float:left;
		width:47%;
		margin-bottom:40px;
	}

	.iright {
		float:right;
		width:47%;
		margin-bottom:40px;
	}

}

/*Screens 640 px or less*/
@media screen and (max-width: 640px) {

	.container {
  		width: 94%;
	}
	

	#main-bio {
  		/* Firefox */
		width: -moz-calc(100% - 50px);
		/* WebKit */
		width: -webkit-calc(100% - 50px);
		/* Opera */
		width: -o-calc(100% - 50px);
		/* Standard */
		width: calc(100% - 50px);
	 	float: none;
	}

	#sidebar {
  		/* Firefox */
		width: -moz-calc(100% - 50px);
		/* WebKit */
		width: -webkit-calc(100% - 50px);
		/* Opera */
		width: -o-calc(100% - 50px);
		/* Standard */
		width: calc(100% - 50px);
	  	float: none;
	}

	#bio-image {
	  float: none;
	  width: 100%;
	  margin-right: 0px;
	}

	.ileft {
		float:none;
		width:100%;
	}

	.iright {
		float:none;
		width:100%;
	}

	.header {
  		width: 100%;
  		padding-left:0px;
  		padding-right:0px;
  		text-align: center;
  	}

  	.button {
  		border-right: 0px;
  		margin: 0 auto;
  		/* Firefox */
		padding: 24px -moz-calc(16.5% - 29px);
		/* WebKit */
		padding: 24px -webkit-calc(16.5% - 29px);
		/* Opera */
		padding: 24px -o-calc(16.5% - 29px);
		/* Standard */
		padding: 24px calc(16.5% - 29px);
  	}

  	.button2 {
  	}
}


/*Screens 230 px or less*/
@media screen and (max-width: 230px) {

	.header {
		margin-bottom:24px;
	}

  	.button {
  		float:none;
  		text-align:center;
  	}
	.imagetext {
		padding: 0px;
		bottom: 0px;
		font-size:90%;
	}

	p {
		font-size:90%;
	}

	h2 {
		font-size:100%;
	}

	h1, h2 {
		text-align:center;
	}

}

/*Animations for the color changing effect*/

/* color animation-background*/
/* Firefox */
@-moz-keyframes backcolor {
    0% {
        background-color: rgb(255, 0, 0);
    }
    16.6% {
        background-color: rgb(255, 0, 255);
    }
    33.3% {
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    66.6% {
        background-color: rgb(0, 255, 0);
    }
    83.3% {
        background-color: rgb(255, 255, 0);
    }
    100% {
        background-color: rgb(255, 0, 0);
    }
}

/* Safari and Chrome */
@-webkit-keyframes backcolor  {
    0% {
        background-color: rgb(255, 0, 0);
    }
    16.6% {
        background-color: rgb(255, 0, 255);
    }
    33.3% {
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    66.6% {
        background-color: rgb(0, 255, 0);
    }
    83.3% {
        background-color: rgb(255, 255, 0);
    }
    100% {
        background-color: rgb(255, 0, 0);
    }
}
/* Standard syntax */
@keyframes backcolor {
    0% {
        background-color: rgb(255, 0, 0);
    }
    16.6% {
        background-color: rgb(255, 0, 255);
    }
    33.3% {
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    66.6% {
        background-color: rgb(0, 255, 0);
    }
    83.3% {
        background-color: rgb(255, 255, 0);
    }
    100% {
        background-color: rgb(255, 0, 0);
    }
}


/* color animation-border-color*/
/* Firefox */
@-moz-keyframes bordercolor {
    0% {
        border-top-color: rgb(255, 0, 0);
    }
    16.6% {
        border-top-color: rgb(255, 0, 255);
    }
    33.3% {
        border-top-color: rgb(0, 0, 255);
    }
    50% {
        border-top-color: rgb(0, 255, 255);
    }
    66.6% {
        border-top-color: rgb(0, 255, 0);
    }
    83.3% {
        border-top-color: rgb(255, 255, 0);
    }
    100% {
        border-top-color: rgb(255, 0, 0);
    }
}

/* Safari and Chrome */
@-webkit-keyframes bordercolor  {
    0% {
        border-top-color: rgb(255, 0, 0);
    }
    16.6% {
        border-top-color: rgb(255, 0, 255);
    }
    33.3% {
        border-top-color: rgb(0, 0, 255);
    }
    50% {
        border-top-color: rgb(0, 255, 255);
    }
    66.6% {
        border-top-color: rgb(0, 255, 0);
    }
    83.3% {
        border-top-color: rgb(255, 255, 0);
    }
    100% {
        border-top-color: rgb(255, 0, 0);
    }
}
/* Standard syntax */
@keyframes bordercolor {
    0% {
        border-top-color: rgb(255, 0, 0);
    }
    16.6% {
        border-top-color: rgb(255, 0, 255);
    }
    33.3% {
        border-top-color: rgb(0, 0, 255);
    }
    50% {
        border-top-color: rgb(0, 255, 255);
    }
    66.6% {
        border-top-color: rgb(0, 255, 0);
    }
    83.3% {
        border-top-color: rgb(255, 255, 0);
    }
    100% {
        border-top-color: rgb(255, 0, 0);
    }
}


/* color animation-text-color*/
/* Firefox */
@-moz-keyframes textcolor {
    0% {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}

/* Safari and Chrome */
@-webkit-keyframes textcolor  {
    0% {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}
/* Standard syntax */
@keyframes textcolor {
    0% {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}
